:root {
  --color-gray: #333333;
  --color-gray-dark: #222222;
  --color-gray-light: #cccccc;
  --color-ongoing: #29d4af;
  --color-done: #06a800;
  --color-planned: #ee6c4d;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray);
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.column {
  background-color: var(--color-gray-dark);
  color: #fff;
  min-height: 20rem;
  width: 33%;
  max-width: 20rem;
  margin: 1rem 1rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 2px dashed transparent;
}

.column.drop {
  border: 2px dashed #fff;
}

.cur-state {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.task {
  background: #fff;
  color: #222222;
  padding: 0.5rem;
  margin-block: 1rem;
  border-radius: 0.3rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: move;
}

.status-container {
  display: flex;
  justify-content: space-between;
}

.status-text {
  font-size: 0.9rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
}

.planned {
  background: var(--color-planned);
}

.ongoing {
  background: var(--color-ongoing);
}

.done {
  background: var(--color-done);
}

.state-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.state-container button {
  padding: 0.3rem 0.5rem;
  outline: none;
  border-radius: 0.2rem;
  border: 2px solid #fff;
  background-color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}

.state-container button:hover {
  border: 2px solid #29d4af;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

#modal-items {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  background: #cccccc;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

#modal-items input,
#modal-items button {
  padding: 0.3rem 0.5rem;
}